# Ignorar a pasta node_modules 
node_modules/

# Ignorar o arquivo .git
.git/

# Ignorar arquivos temporários de logs
*.log

# Ignorar arquivos de cache do sistema
*.swp

# Ignorar a pasta de build 
build/

# Ignorar arquivos de configuração do editor (como VSCode)
.vscode/
